$barberBlack: #000000e0;
$grid-xs-min: 480px;
$grid-sm-min: 848px;
$grid-md-min: 1048px;
$grid-lg-min: 1200px;

$max-content-width: 1440px;

@font-face {
  font-family: "Libel Suit";
  src: url("../../content/fonts/libelsuit.ttf") format("truetype");
}

@mixin sm-viewport {
  @media only screen and (min-width: $grid-sm-min) {
    @content;
  }
}

@mixin md-viewport {
  @media only screen and (min-width: $grid-md-min) {
    @content;
  }
}

@mixin lg-viewport {
  @media only screen and (min-width: $grid-lg-min) {
    @content;
  }
}

.pageContainer {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navWrapper {
  background-color: $barberBlack;
}

.navBar {
  display: flex;
  max-width: $grid-lg-min + 40px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
}

.menuLink {
  a {
    font-family: "Roboto", "Montserrat";
    text-transform: uppercase;
    box-shadow: none;
    padding: 0 12px;
    font-size: 0.9rem;
    font-weight: 600;
    &:hover {
      background-color: rgba(142, 142, 142, 0.25);
    }
  }
}

.rootMenuLink {
  font-family: "Libel Suit", sans-serif;
  text-transform: uppercase;
  box-shadow: none;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 8px;
  @media only screen and (min-width: 392px) {
    font-size: 1.75rem;
  }
  @media only screen and (min-width: 480px) {
    font-size: 2rem;
  }
  @media only screen and (min-width: 601px) {
    font-size: 2.5rem;
  }
}

.tablet {
  display: none;
  @include sm-viewport {
    display: inherit;
  }
}

.desktop {
  display: none;
  @include md-viewport {
    display: inherit;
  }
}

.showTablet {
  @include sm-viewport {
    display: none;
  }
}

.dropdownButton {
  @include md-viewport {
    display: none;
  }
}

.dropdownMenu {
  background: $barberBlack;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -1rem;
  border: 0;
  margin: 0;
  border-radius: 0;
}

.menuIcon {
  @media only screen and (min-width: 601px) {
    height: 64px !important;
    line-height: 64px !important;
  }
}

.dropdownLink {
  margin-bottom: 0;
}

.rightSide {
  position: relative;
}

.footerBar {
  background-color: $barberBlack;
  padding: 12px 0;
  font-weight: 300px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
